* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fcfbf4;
}

label {
    cursor: pointer;
}

.wraper {
    width: 100%;
    position: fixed;
    padding: 20px 0;
    padding-bottom: 0;
    top: 0;
    background-color: #fcfbf4;
}

#refresh {
    font-size: 16px;
    padding: 10px 35px;
    background-color: #f3f1f1;
    border: 2px solid #dddddd;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#refresh:hover {
    background-color: #fff;
    cursor: pointer;
}

.btc-price-wrap {
    margin-left: 35px;
    display: inline-block;
    font-size: 18px;
}

.btc-price-head {
    font-size: 22px;
}

.status {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 30px;
    padding: 0 5px;
    color: rgb(97, 177, 18);
    font-size: 26px;
}

.hide {
    display: none;
}

.control {
    display: flex;
    margin: 10px 0;
}

.check {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s;
}

.check:hover {
    border: 1px solid #dddddd;
}

#min-profit {
    width: 70px;
    height: 20px;
    padding: 0 3px;
}

.clear {
    font-size: 14px;
    padding: 2px 10px;
    background-color: #f3f1f1;
    border: 1px solid #dddddd;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.clear:hover {
    background-color: #fff;
    cursor: pointer;
}

#root {
    margin-top: 100px;
}

.loading {
    display: block;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(102, 102, 102);
    border-color: rgb(102, 102, 102) transparent rgb(102, 102, 102) transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.coin-price {
    padding: 3px;
    font-size: 18px;
    letter-spacing: .3px;
    border-bottom: 1px dashed #c7b692;
}

span {
    display: inline-block;
}

.coin-name {
    font-weight: 700;
    width: 80px;
}

.usdt-price {
    width: 160px;
}

.btc-price {
    width: 140px;
}

.plus-profit {
    background-color: rgb(163, 255, 71);
}

.minus-profit {
    background-color: rgb(255, 170, 170);
}

/*  Мобільна версія  */

@media (max-width: 500px) {
    #root {
        margin-top: 200px;
    }

    .control {
        display: flex;
        flex-wrap: wrap;
    }

    .check {
        width: 100%;
    }
}